@model Common.Models.Shipment

@{
    ViewData["Title"] = "UpdateShipment";
}

<style>
    .form-group {
        margin-bottom: 20px;
    }

    .btn-primary {
        margin-top: 10px;
    }
</style>

<h1>Update Shipment</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="UpdateShipment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @{
                var options = new[]
                {
            new SelectListItem { Value = "Ordered Received Not Yet Dispatched", Text = "Ordered Received Not Yet Dispatched" },
            new SelectListItem { Value = "Order Dispatched", Text = "Order Dispatched" },
            new SelectListItem { Value = "Order Delivered and Received", Text = "Order Delivered and Received" }
                };
            }

            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                @Html.DropDownList("status", options, "Select an option", new { @class = "form-control" })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="OrderId" type="hidden" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
